<section>
	<h2>Login Form</h2>
	<form action="/log_in" method="post">
	    <div>
	        <label>Username:</label>
	        <input type="text" name="username"/>
	    </div>
	    <div>
	        <label>Password:</label>
	        <input type="password" name="password"/>
	    </div>
	    <div>
	        <input type="submit" value="Log In"/>
	    </div>
	</form>
	<p>
		{{ error }}
	</p>
	<section>
		<p>
			Don't have an account? <a href="/sign_up">Sign up here</a>!
		</p>
	</section>
</section>
