<section>
    <ol>
    {{#each this}}
        {{#if this.title}}
        <li>
            <a href="forums/{{this._id}}">{{this.title}}</a>
        </li>
        {{/if}}
    {{/each}}
    </ol>
</section>
{{!-- TODO  --}}