<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="description" content="CS546 Final Project - Clothing Forum" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Style with Me</title>
		<!-- CSS -->
		<link rel="stylesheet" href="/public/css/index.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<main id="main">
			{{{body}}}
		</main>
		<div id="tail">
			<footer>
				&#64;Style with Me 2017
			</footer>
		</div>
	</body>
</html>
