<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <textarea class="form-control ldt"
                aria-label="New Comment"
                id="content"
                name="comment"
                placeholder="Checkout these #Suede Sneakers[http://www.hm.com/us/product/72665]&#10;Credit: @Dillon"
                required>{{ content }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input type="button" onclick="submitEditComment('{{ _id }}')" class="btn btn-default" value="Update" />
            <input type="button" onclick="cancelEditComment('{{ _id }}')" class="btn btn-default" value="Cancel" />
        </div>
    </div>
</form>
