<div>
	<section>
		{{#if avatar}}
			<article>
				<img
					src="{{avatar}}"
					alt="User profile image" />
				<p>
					<a href="/log_out">Logout</a>
				</p>
			</article>
		{{else}}
			<p>
				<a href="/log_in">Login</a>
			</p>
			<p>
				<a href="/sign_up">Sign Up</a>
			</p>
		{{/if}}
	</section>
</div>
