<div class="container-fluid">
	<div class="row">
		<section class="col-md-2">
			<img src="{{ avatar }}" alt="User avatar" />
		</section>
		<section class="col-md-2">
			<p>
				Username: {{ username }}
			</p>
		</section>
	</div>
</div>
