html, body {
	width: 100%;
	height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
}

.navbar-brand {
	/*background-image: url('/public/image/Brand.png');*/
	background-repeat: no-repeat;
	background-position: center;
}

#navbar-profile {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
