#your-forum-panel {
	background-color: lightgray;
	padding: 15px;
}

#your-forum-panel-header > * {
	font-size: 1.5em;
}

#community-forum-panel-header > * {
	font-size: 1.5em;
}

.landing-header-icon {
	float: right;
}
